.PFS1 h1 {
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 10px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
  color: rgb(0,101,67);
  font-family: Marck Script;
  font-weight: bold;
}

/* Прозрачный фон через псевдоэлемент */
.PFS1 h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv-v2/journals/PFS1/back2.webp') no-repeat center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.PFS1 article header.journal-page-header h2 {
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 10px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
  color: rgb(0,101,67);
  font-family: Marck Script;
  font-weight: bold;
}

/* Прозрачный фон через псевдоэлемент */
.PFS1 article header.journal-page-header h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv-v2/journals/PFS1/back2.webp') no-repeat center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.PFS1 article header.journal-page-header h3 {
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 10px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
  color: rgb(0,101,67);
  font-family: Marck Script;
  font-weight: bold;
}

/* Прозрачный фон через псевдоэлемент */
.PFS1 article header.journal-page-header h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv-v2/journals/PFS1/back2.webp') no-repeat center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.PFS1 h2
{
  color: rgb(94,1,10);
  font-family: Manuskript;
  font-weight: bold;
}

.PFS1 h3
{
  color: rgb(169,103,83);
  font-family: Manuskript;
  font-weight: bold;
}

.PFS1 h4
{
  font-family: Manuskript;
  font-weight: bold;
}

.PFS1 h5
{
  font-family: Manuskript;
}

.PFS1 blockquote {
  all: unset;
}

.PFS1 blockquote {
  color: rgb(42,126,97); /* цвет текста */
  font-size: inherit; /* Использовать прошлый шрифт */
  line-height: 1.2; /* Высота строки */
  text-align: justify; /* Выровнять текст по ширине */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 20px 0; /* Отступы сверху и снизу для псевдоэлементов */
  background: #f8f8eb;
}

.PFS1 blockquote::before,
.PFS1 blockquote::after {
  content: "";
  display: block;
  height: 2px;
  background: rgb(42,126,97);
  width: 100%; /* Полная ширина блока */
  position: absolute;
  left: 0;
}

.PFS1 blockquote::before {
  top: -5px; /* Полоса сверху с отступом наверх от текста */
}

.PFS1 blockquote::after {
  bottom: -5px; /* Полоса снизу с отступом вниз от текста */
}

.PFS1 section.insite {
  font-size: inherit; /* Использовать прошлый шрифт */
  line-height: 1.2; /* Высота строки */
  text-align: justify; /* Выровнять текст по ширине */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 20px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
}

/* Прозрачный фон через псевдоэлемент */
.PFS1 section.insite::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv-v2/journals/PFS1/back.webp') no-repeat center center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.insite h2
{
  color: black !important;
  font-family: Manuskript;
  font-weight: bold;
}

.PFS1 table tbody tr td
{
  text-align: justify;
  text-align-last: left;
}

.PFS1 p
{
  text-indent: 10px;
  text-align: justify;
  text-align-last: left;
  margin: 8px;
}