.SW h1 {
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 10px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
  color: rgb(1, 65, 39);
  font-family: Marck Script;
  font-weight: bold;
}

/* Прозрачный фон через псевдоэлемент */
.SW h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv/journals/SW/back.webp') no-repeat center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.SW article header.journal-page-header h2 {
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 10px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
  color: rgb(1, 65, 39);
  font-family: Marck Script;
  font-weight: bold;
}

/* Прозрачный фон через псевдоэлемент */
.SW article header.journal-page-header h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv/journals/SW/back.webp') no-repeat center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.SW article header.journal-page-header h3 {
  text-align: center; /* Выравнивание текста по центру горизонтально */
  align-items: center; /* Выравнивание текста по центру вертикально */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 10px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
  color:rgb(1, 65, 39);
  font-family: Marck Script;
  font-weight: bold;
}

/* Прозрачный фон через псевдоэлемент */
.SW article header.journal-page-header h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv/journals/SW/back.webp') no-repeat center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.SW h2
{
  color:rgb(132, 108, 61);
  font-family: Marck Script;
  font-weight: bold;
}

.SW h3
{
  color: rgb(132, 108, 61);
  font-family: Marck Script;
  font-weight: bold;
}

.SW h4
{
  font-family: Manuskript;
  font-weight: bold;
}

.SW h5
{
  font-family: Manuskript;
}

.SW blockquote {
  all: unset;
}

.SW blockquote {
  color:rgb(1, 65, 39); /* цвет текста */
  font-size: inherit; /* Использовать прошлый шрифт */
  line-height: 1.2; /* Высота строки */
  text-align: justify; /* Выровнять текст по ширине */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 5px 5px; /* Отступы сверху и снизу для псевдоэлементов */
}

.SW blockquote::before,
.SW blockquote::after {
  content: "";
  display: block;
  height: 2px;
  background:rgb(1, 65, 39);
  width: 100%; /* Полная ширина блока */
  position: relative;
  z-index: 9;
  left: 0;
}

.SW blockquote::before {
  top: -5px; /* Полоса сверху с отступом наверх от текста */
}

.SW blockquote::after {
  bottom: -5px; /* Полоса снизу с отступом вниз от текста */
}

.SW section.insite {
  font-size: inherit; /* Использовать прошлый шрифт */
  line-height: 1.2; /* Высота строки */
  text-align: justify; /* Выровнять текст по ширине */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding: 20px; /* Отступы для текста */
  z-index: 1; /* Поверх фона с прозрачностью */
}

/* Прозрачный фон через псевдоэлемент */
.SW section.insite::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('/modules/pf2e-ts-adv/journals/SW/back.webp') no-repeat center center; /* Абсолютный путь к изображению фона */
    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    background-attachment: fixed; /* Фиксированный фон, если нужно */    background-size: cover; /* Масштабировать изображение, чтобы покрыть весь блок */
    opacity: 0.4; /* Прозрачность 10% */
    z-index: -1; /* За текстом */
}

.SW section.insite h2
{
  color: black;
  font-weight: bold;
}

.SW table tbody tr td
{
  text-align: justify;
  text-align-last: left;
}